NODE_ENV=development
GROQ_API_KEY= your GROQ_API_KEY here
OPENAI_API_KEY= your OPENAI_API_KEY here            
OPENAI_MODEL=gpt-5.4-mini

PORT=8000
TAVILY_API_KEY= your TAVILY_API_KEY here
MONGODB_URI= your MONGODB_URI here
JWT_SECRET= your JWT_SECRET here
REFRESH_TOKEN_SECRET= your REFRESH_TOKEN_SECRET here
CLIENT_URL=http://localhost:5173
